
<div class="row">
	<div class="col s12 m6">
		<div class="gregy small">
			<div class="gregy-image waves-effect waves-block waves-light" >
				<img calss="activator" src="<%= asset_path"yeh.jpg"%>">
			</div>
			<div class="gregy-content">
				<span class="gregy-titile activator grey-text text-darken-4">Coach Yeh<i class="mdi-navigation-more-vert right"></i></span>
			</div>
			<div class="gregy-reveal">
				<span class="gregy-title grey-text text-darken-4">Coach Yeh<i class="mdi-navigation-close right"></i></span>
				<p>外表看似淫蕩,內在卻變態於常人</p>
			</div>
		</div>
	</div>
</div>