<h1>course</h1>
<div class="select-wrapper">
   <div class="input-field col s12">
    <select>
      <option value="" >Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>
</div>
<%= javascript_include_tag 'course', 'data-turbolinks-track' => true %>
