

<footer class="page-footer" style="margin-top: 400px;">
	<div class="container center">
		<div class="row">
			<div class="col s12">
				<h5 class="grey-text">聯絡資訊</h5>
				<p class="grey-text text-lighten-4"> Tel:0919-666-485</p>
				<p class="grey-text text-lighten-4"> EMAIL:gregyboy791124@gmail.com</p>
				
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container center">
			© 2015 BSK CAMP.
			<a href="https://www.facebook.com/naichin.wang" target="_blank" title="詳細資訊請洽粉絲團">
				<img src="<%= asset_path"facebook.png"%>">
			</a>
		</div>		
	</div>
</footer>

